@import './normalize.css';
@import 'tailwindcss';

/* Use the @config directive to load a legacy JavaScript-based configuration file: */
/* @config "../../tailwind.config.js"; */

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.video-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -2;
  background: linear-gradient(to bottom, #111827, #000000);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accent: #11cb55;
  --color-input: #3b3b3b;

  --font-title: 'Rubik Mono One', sans-serif;

  --breakpoint-xxs: 390px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 796px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .custom-title-effect {
    background-size: 200%;
    text-shadow:
      10px 10px 30px #ff0000,
      -10px -10px 30px #8b3dff;
    -webkit-text-stroke: 2px #986161;
    -webkit-text-fill-color: transparent;
  }

  .text-shadow-sm {
    text-shadow: 1px 1px 1px #000000;
  }
}
