.switch-theme__label {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 36px;
}

.switch-theme__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-theme__span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(79, 79, 177);
  background-image: url('/imgs/moon1.png');

  background-size: 38%;
  background-position: 86% 40%;
  background-repeat: no-repeat;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.switch-theme__span:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: 6px;
  bottom: 6px;
  background-color: brown;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch-theme__input:checked + .switch-theme__span {
  background-image: url('/imgs/bulb2.png');
  background-position: 10% 36%;
  background-size: 38%;
}

.switch-theme__input:checked + .switch-theme__span {
  box-shadow: 0 0 1px white;
}

.switch-theme__input:checked + .switch-theme__span::before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}
