#root {
  background-image: url('https://img.freepik.com/free-photo/space-background-with-fictional-planets_1048-13628.jpg?t=st=1752430095~exp=1752433695~hmac=5e7e7200178c405d552c879a57af64922dd56c639548e5b92c07ce17e37b1776&w=1800');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 114%;
}

@media (max-width: 1100px) {
  #root {
    background-size: auto;
    background-image: url('https://plus.unsplash.com/premium_photo-1666232903270-e905b4b093e9?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: 100% 100%;
  }
}
